* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-user-select: none;
}

body {
    padding-top: 50px;
    background:radial-gradient(rgb(28, 11, 51) 10%, rgb(11, 2, 24) 45%);
}

.main {
    overflow: auto;
    height: calc(100vh - 50px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 0;
}

.inputfields {
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.form {
    overflow: visible;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form form {
    overflow: visible;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

.form input {
    overflow: visible;
    max-width: 100%;
    width: 50vw;
    outline: none;
    border: none;
    background: none;
    padding: 15px;
    font-size: 22px;
    color: #e6e6e6;
    background-color: #88888844;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.form input:hover {
    position: relative;
    z-index: 1;
    transform: scale(1.05);
}

.threadSelector {
    overflow: visible;
    width: auto;
    position: relative;
    display: inline-block;
    padding: 20px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 15px;
    transition: all 0.3s ease;
}

.threadSelector .content {
    width: 100%;
    pointer-events: none;
    border-radius: 15px;
    opacity: 0;
    position: absolute;
    background-color: black;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 1);
    z-index: 1;
    transition: all 0.3s ease;
}

.threadSelector .content .buttongrp {
    height: 100%;
    max-height: 40vh;
    overflow-x: hidden;
    overflow-y: auto;
    border-radius: 15px;
    margin-top: 10px;
}

.threadSelector .content button {
    border: none;
    outline: none;
    width: 100%;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transform: translateX(50%);
    opacity: 0;
    transition: all 0.4s ease-in;
    background-color: #88888833;
    color: #4CAF50;
    z-index: 2;
    cursor: pointer;
}

.threadSelector .content button:hover {
    background-color: #8888ff44;
}

.threadSelector:hover .content {
    pointer-events: auto;
    opacity: 1;
}

.threadSelector:hover .content button {
    opacity: 1;
    transform: translateX(0);
}

.threadSelector:hover .dropbtn {
    background-color: #3e8e41;
    transform: scale(1.1);
}




/* @media (prefers-color-scheme: light) {
    body {
        background:radial-gradient(rgb(112, 44, 204) 10%, rgb(66, 12, 144) 45%);
    }
    .form input {
        color: #191919;
    }
    .advancedoptions .heading {
        color: #191919;
    }
    .advancedoptions .radio {
        color: #191919;
    }
    .savingLocation {
        color: #444444;
    }
     ::-webkit-scrollbar {
        width: 5px;
        height: 0px;
    }
     ::-webkit-scrollbar-track {
        background: none;
    }
     ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 10px;
    }
     ::-webkit-scrollbar-thumb:hover {
        background: #eee;
    }
} */

::-webkit-scrollbar {
    width: 5px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: none;
}

 ::-webkit-scrollbar-thumb {
    background: #555;
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #333;
}